<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Numerology</title>
  </script>
</head>
</body>
  <form action="" method="post">
	{% csrf_token %}
	<fieldset>
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label }} {{ field }}
    </div>
  {% endfor %}
	</fieldset>
	<input type="submit" value="Calculate">
  </form>
  <hr />
  <h2> Numerology details </h2>
  <div>
    <hr/>
    <span>Full Name: <b>{{details.info.last_name}} {{details.info.first_name}} </b> <br/></span>
    <span>Date Of Birth: <b>{{details.dob}} </b><br/></span>
    <span>Date of Report: <b>{{details.fortune_day}} </b></span>

  </div>
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2> CHỈ SỐ ĐƯỜNG ĐỜI</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.life_path_number}}</h1>
        </td>
        <td>
          {{details.lifepath|safe }}
        </td>
      </tr>
    </table>    
  </div>
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2> CHỈ SỐ SỨ MỆNH </h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.destiny_number}}</h1>
        </td>
        <td>
          {{details.destinypath|safe}}
        </td>
      </tr>
    </table> 
  </div>
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2> CHỈ SỐ LINH HỒN (chỉ số Động lực tiềm ẩn)</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.hearth_desire_number}}</h1>
        </td>
        <td>
          {{details.hearthdesire}}
        </td>
      </tr>
    </table> 
  </div>  
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2> CHỈ SỐ NHÂN CÁCH (chỉ số biểu đạt bên ngoài)</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.personality_number}}</h1>
        </td>
        <td>
          {{details.personality}}
        </td>
      </tr>
    </table> 
  </div>    
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2> CHỈ SỐ TRƯỞNG THÀNH (Thành tựu)</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.power_number}}</h1>
        </td>
        <td>
          {{details.powerpath}}
        </td>
      </tr>
    </table> 
  </div>   
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2>CHỈ SỐ TÊN HIỆN TẠI</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.active_number}}</h1>
        </td>
        <td>
          {{details.activepath}}
        </td>
      </tr>
    </table>
  </div>  
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2>CHỈ SỐ HỌ HIỆN TẠI</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.legacy_number}}</h1>
        </td>
        <td>
          {{details.legacypath}}
        </td>
      </tr>
    </table>
  <div>
    <hr/>
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2>Expression</h2>
        </td>
      </tr>
      <tr>
        <td width="100px">
          <h1>{{details.info.expression_number}}</h1>
        </td>
        <td>
          {{details.expressionpath}}
        </td>
      </tr>
    </table>
</div>   
</body>
</html>

